{% extends 'main/index.html'%}
{% block title %}Новости{% endblock %}
{% block content %}
{% if articles_list %}
  {% for el in articles_list %}
    <a href="{{ el.get_absolute_url }}">
      <div class="map">
        <p>{{ articles.get_absolute_url }}</p>
        <h2>{{ el.title }}</h2>
        <img width="600px" src="{{ el.image.url }}">
        <br>
        <p class="date">{{ el.date }}</p>
      </div>
    </a>
  {% endfor %}
  {% else %}
    <h1>Нет новостей</h1>
{% endif %}
{% endblock %}
