{% extends 'main/index.html'%}
{% block title %}Geomappy. Новости.{% endblock %}
{% block content %}
<h1>Новости</h1>
<br>
<br>
<br>
{% if posts %}
  {% for el in posts %}
    <a href="{{ el.get_absolute_url }}">
      <div class="map">
        <h2>{{ el.title }}</h2>
        <img width="95%" src="{{ el.image.url }}">
        <br>
        <p class="date">{{ el.date }}</p>
      </div>
    </a>
  {% endfor %}
  {% else %}
    <h1>Нет новостей</h1>
{% endif %}
<br>
{% include "news/pagination.html" with page=posts %}
<br>
{% endblock %}
