*{
  padding: 0;
  margin: 0;
  border: 0
}

*,*:before,*:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}
:focus,:active(outline: none})
a:focus,a:active(outline: none})

nav,footer,header,aside{displey: block}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

input,button,textarea{font-family:inherit}

input::-ms-clear{display:none}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style:none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:400;}

h1{
  font-size: 4vw;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
h2{
  font-size: 32px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
p{
  font-size: calc(12px + 0.7vw);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
}

header{
  background-color: rgb(11,9,19);
  height: 10vh;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
}
header img{
  height: 10vh
}

nav{
  text-indent: 5vw;
  background-color: #f0dd3ab0;
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 100%;
}

a{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #000000;
}
a:hover{
  color: #000000;
}

.verh a{
  margin-right: 4%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: calc(10px + 0.7vw);
  color: #000000;
  padding: 1.5vh;
}
.verh a:hover{
  color: #423189;
  background-color: #ffff00;
  transition: 1s;
}


.about{
  margin-bottom: 3vh;
}

.ab{
  margin-left: 3vw;
  margin-right: 3vw;
}

main{
  background-color: rgb(250,250,250);
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  padding-bottom: 3%;
  width: 70vw;
  text-align: center;
  align-content: center;
}




}
main img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 2px solid;
}


.map{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  width: 50vw;
  padding: 15px 50px;
  background-color: rgb(150,150,150);
  border: 3px solid;
  border-radius: 50px;
  font-size: 22px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  align-content: center;
}

.map:hover{
  background-color: rgb(180,180,180);
}



.date{
  text-align: right;
  font-size: 18px;
  margin-top: 30px
}

.post p{
  margin-left:75px;
  margin-right: 75px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}
.post{
  padding-bottom: 80px
}
.post img{
  margin-bottom: 3vh;
}

.input-group input{
  margin-left: 10%;
  margin-bottom: 5%;
}

.input-group button{
  margin-right: 10%;
  margin-bottom: 5%;
}

.pagination{
  font-size: calc(38px+0,8vw);
}
